*{
    margin: 0;
    padding: 0;
}

.Banner {
    height: 1000px;
    width: 100%;
    display: flex;
    color: white;
    background-color: rgba(19, 19, 19, 0.9);
    overflow: hidden;
}

.Banner h1 {
    font-size: 4em;
}

.BannerContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    top: 50%; /* Position the text at 50% from the top of the container */
    left: 50%; /* Position the text at 50% from the left of the container */
    transform: translate(-50%, -50%); /* Move the text back by half its width and height to center it */
    
}

.banner_image {
display: flex;
flex-direction: column;

}
.Banner img {
    width: 100%;
    opacity: 0.3;
    object-fit: contain;
    object-position: 120px 100px;
    scale: 250%;
}

