*{
    margin: 0;
    padding: 0;
}

.Content {
    max-width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_wrapper {
    display: flex;
    max-width: 900px;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.content_image_wrapper {
    margin-right: 20px;
    width: 600px ;
    height: 600px;
    overflow: hidden;
}

.content_text_wrapper {
    width: 400px;
    text-align: start;
}


.Card{
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 250px;
    width: 100%;
    height: 350px;
    background-color: white;
    color: rgb(35, 7, 77);
    box-shadow: rgba(49, 49, 49, 0.5) 10px 5px 10px;
}

.Image-wrap{
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.Card h2 {
    margin-top: 15px;
    font-size: 1.5rem;
}

.Card img {
    padding-bottom: 15px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    scale: 1.8;
}

.CardList {
    display: flex;
}