*{
    margin: 0;
    padding: 0;
}

.Main{
    display: flex;
    flex-direction: column;
    background-image: url(./Assets/hubs-maps-scaled.jpeg);
    background-color: rgba(0,0,0,0.9);
    background-attachment: fixed;
    background-position: center;
}

.what_we_do_area {
   display: flex;
   flex-direction: column;
   align-items: center;
   
    
}

.what_we_do_area div {
    display: flex;
}

.what_we_do_content{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 250px;
    background-color: white;
}

